@tailwind base;
@tailwind components;
@tailwind utilities;

.container {
  @apply max-w-6xl mx-auto px-1;
}
.backdrop {
  background: rgba(0, 0, 0, 0.7);
}
.backdrop img {
  box-shadow: 3px 5px 7px rgba(0, 0, 0, 0.5);
  border: 3px solid #fff;
  max-width: 60%;
  max-height: 80%;
}

.avatar {
  max-width: 80px;
  height: auto;
  border-radius: 50%;
}

table {
  min-width: 100%;
  border-collapse: collapse;
  margin: 25px auto;
  border-radius: 5px 5px 0 0;
  overflow: hidden;
  box-shadow: 0 0 20px rgba(0, 0, 0, 0.15);
  border-spacing: 0;
}

th,
td {
  padding: 10px;
  text-align: left;
  font-size: 18px;
}
thead tr {
  background-color: rgb(134, 207, 191);
}
tbody tr {
  border-bottom: 1px solid gray;
}
tbody tr:last-child {
  border-bottom: 0;
}
.tableAction {
  display: flex;
  justify-content: space-around;
}
.tableAction span {
  cursor: pointer;
}
